/*
 Theme Name:   List.am theme
 Description:  Theme like list.am
 Author:       Hrayr Hovakimyan
 Template:     twentyfifteen
 Version:      1.0.0
*/
@import '../twentyfifteen/style.css';
@import 'bootstrap.min.css';

header#masthead {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    position: relative;
    border-bottom: 1px solid #6697F9;
}


.btn-success, .btn-success:active {
    background-color: #0c72ea !important;
    border-color: #0c72ea;
}
.btn-success:hover {
    background-color: #1c82ec;
}

.site-branding {
    margin-left: 50px;
    /*margin-bottom: 15px;*/
    margin-top: 15px;
}

.site{
    height: 0 !important;
}

.site-main {
    padding-top: 0px !important;
    padding-left: 0px !important;
}

.hentry {
    padding-top: 10px !important;
    padding-left: 10px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;

}

.entry-content{
    padding-top: 10px !important;

    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.entry-title {
    font-size: medium !important;
}

#loginform {
    width: 200px;
}

.add_declaration {
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    background-color: #0c72ea;
    padding: 8px 16px;
    transition: background-color .2s;
}

#list_am_categories-2 .widget-title {
    font-size: 18px !important;
}

.add_declaration:hover {
    color: #fff !important;
    background-color: #1c82ec;
    text-decoration: none !important;
}

.site-title a:hover {
    text-decoration: none;
    color: #337ab7;
}

#widget-area {
    margin-top: 40px;
}

.entry-footer {
    display: none;
}

.decalaration_form label {
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}

.decalaration_form label[class='radio-inline'] {
    display: inline-block;
}

.decalaration_form textarea {
    resize: none;
}

select.form-control {
    cursor: pointer;
}

.decalaration_form input[type="file"] {
    cursor: pointer;
}

#declaration_price {
    margin-right: 20px;
}

.declataion_add_form .sidebar {
    display: none;
}

.declataion_add_form .site-content {
    width: 100% !important;
    margin-left: 0 !important;
}

.declataion_add_form .site-main {
    padding-top: 0;
}

.declataion_add_form .entry-content a {
    border: 0;
}

.declaration_categories {
    margin-top: 20px;
}

.declaration_categories .categories > ul {
    margin-top: 20px;
}

.declaration_categories li {
    list-style: none;
}

.declaration_categories li.cat-item:hover .children {
    display: block;
}

.declaration_categories ul.children .cat-item {
    padding: 6px 16px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0) url("http://j.list.am/img/am.png") no-repeat scroll right center;
}

.declaration_categories ul.children {
    margin-left: 176px;
    /*background-color: #F1F1F1;*/
    display: none;
    width: 200px;
    padding: 10px;
    margin-top: -30px;
    position: absolute;
}
.children:hover ~ .declaration_categories li.cat-item {
    background: #888 none repeat scroll 0 0;
}
.children .cat-item a {
    color: #000000 !important;
}
.children .cat-item:hover a {
    color: #fff !important;
}

.declaration_categories li.cat-item {
    /*background-color: #F1F1F1;*/
    padding: 6px 16px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0) url("http://j.list.am/img/am.png") no-repeat scroll right center;
}
.declaration_categories li.cat-item:hover {
    background: #222 none repeat scroll 0 0;
    border-radius: 4px;
}
.declaration_categories li.cat-item:hover a{
    color: #fff;
}
.declaration_categories li.cat-item a {
    color: #000;
    text-decoration: none !important;
    border-bottom: none !important;
}

.declaration_categories .categories > ul > .cat-item {
    width: 200px;
}

#upload_images {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.declaration_single_image{
    float: left;
    display: block;
    margin-right: 29px;
    width: 160px;
    height: 120px;
}

.declaration_non_image_content {

}

.category .page-header {
    display: none;
}

.category main {
    padding-top: 0;
}

.category article {
    margin: 0 !important;
    padding-top: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid grey;
    margin-left: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.category article .entry-header {
    padding-left: 40px;
}

.category article .entry-title{
    margin-bottom: 0;
    display: inline-block;
}


.category article .entry-header a{
    color: #000;
    font-size: 16px;
}

.category article .entry-content{
    padding: 0;
}

.bx-controls-direction a{
    border: 0 !important;
}

.bx-wrapper{
    width: 400px;
    margin: 0 !important;
}

#bx-pager{
    margin-top: 20px;
}

#bx-pager a{
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 10px;
    padding: 5px;
}

#bx-pager .active{
    border:1px solid #0077b3 !important;
}

.right_menu{
    float: right;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-right: 170px;
    width: 500px;
}

.register_log_in{
    display: inline-block;
    margin-left: 20px;
}

.user_reg_field{
    display: block;
    margin-bottom: 20px;
}

.list_am_registration_form_error{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #af101f;
    clear: both;
}

.my_post_delete_link, .my_post_edit_link{
    display: inline-block;
    cursor: pointer;
}

.my_post_edit_link{
    margin-right: 10px;
}

.declaration_add_form_spinner{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(180, 185, 190, 0.57);
    z-index: 1000;
    display: none;
}

#already_uploaded_images{
    padding: 15px;
}

#already_uploaded_images .uploaded_img_content{
    display: inline-block;
    margin-right: 10px;
}

.uploaded_img_content img{
    display: block;
}

.list_am_filter_radio{
    cursor: pointer;
}

.list_am_filter_radio:hover{
    text-decoration: underline;
}


